# BACKEND
# IntelliJ IDEA related files
.idea/
*.iml

# Maven build output
back/target/

# Spring Boot executable jar
*.jar.original

# FRONTEND
# Dependencies
node_modules/

# Angular cache
.angular/

# test coverage
coverage/

# Build output
dist/